.card {
    border: 1px solid #ccc;
    margin: 10PX;
    border-radius: 5px;
    padding: 20px;
    width: 150px;
    background-color: #f7f7f7;
}

.card h2 {
    font-size: 1em;
    margin: 0 -9px ;
    padding: 0;
}

.card p {
    margin: 10px -9px;
    padding: auto;
}

/* CSS for specific fields */
.name {
    font-weight: bold;
}

.email {
    color: #007bff; /* Blue color for email */
}

.message {
    font-style: italic;
}